body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.main-article-img {
  max-height: 300px;
  width: 100%;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 576px) {
  .main-article-img {
    max-height: 200px;
  }
  .card-img-top {
  max-height: 200px;
  }
}